li>a#v1{
    color: #fff;
    border-top: 2px solid #fff;
}

li>a:hover{
    color: #000;
    border-top: 1px solid transparent;
}

li>a#v1 {
    background: rgb(208, 72, 0);
}

li>a#v1:before,
li>a#v1:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    background: none;
    bottom: -30px;
    border-top: 30px solid rgb(208, 72, 0);
}

li>a#v1:before {
    border-right: 37px solid transparent;
    left: 0;
}

li>a#v1:after {
    border-left: 37px solid transparent;
    right: 0;
}