include ../../addOrLooseObjects.jade
div#decision
    p Si vous souhaitez tirer votre épée et aller voir de quoi il s'agit, rendez-vous à #[a(href="/page/180") la page 180].
    p Si vous préférez retenir votre souffle en restant aussi immobile que possible, rendez-vous à #[a(href="/page/259") la page 259].