block head
    link(rel='stylesheet', href='/stylesheets/addOrLooseObjects.css')

aside
    a(href="#addOrLooseObjectsModal") Vous avez perdu des objets
    div#addOrLooseObjectsModal.addOrLooseObjectsmodalDialog
        div
            a(href="#close", title="Close", class="close")
            h2 Perte d'objets
            h3 Vous avez perdu : les Chiens Kanu, les Traineaux
            div#buttonsAddOrLooseObjects
                a(href="#close", id="button-confirmation") Ok