aside
    div(class="icon_coins")
        img(src='/icons/coins.png', title="{{joueur.bourse}}") 
        {{joueur.bourse}} pièces
        a(href="", ng-click="voirSacADos(true)")
            img(src='/icons/backpack.png', class='icon_voyage')
    //- a(href="", ng-click="voirSacADos()")
        img(src='/icons/backpack.png', class='icon_voyage')
    div(id='backpackModal', class='modalDialogBackpack', ng-if="backpack == true")
        div
            a(href="", title="Close", class="close", ng-click="voirSacADos(false)")
            h2 Contenu de votre sac à dos
            table
                tr
                    th(class='nom_sac') Objets
                    th(class='icon_sac') Quantité
                    th(class='icon_sac') Utiliser
                    th(class='icon_sac') Supprimer
                tr(ng-repeat="item in joueur['sac_à_dos']") 
                    td(class="nom_sac") {{item.nom}}
                    td(class='icon_sac') {{item.nombre}} 
                    td(class='icon_sac')
                        a(href="", title="Utiliser" ng-click="utiliserObjet(item)")
                            img(src='/icons/check.png', class='icon_check')
                    td(class='icon_sac')
                        a(href="", title="Supprimer" ng-click="perdreObjet(item)")
                            img(src='/icons/uncheck.png', class='icon_check')
            table
                tr
                    th(class='nom_sac') Objets Spéciaux
                    th(class='icon_sac') Quantité
                    th(class='icon_sac') Utiliser
                    th(class='icon_sac') Supprimer
                tr(ng-repeat="item in joueur['objets_spéciaux']")
                    td(class="nom_sac") {{item.nom}}
                    td(class='icon_sac') {{item.nombre}} 
                    td(class='icon_sac')
                        a(href="", title="Utiliser" ng-click="utiliserObjet(item)")
                            img(src='/icons/check.png', class='icon_check')
                    td(class='icon_sac')
                        a(href="", title="Supprimer" ng-click="perdreObjet(item)")
                            img(src='/icons/uncheck.png', class='icon_check')