aside
    a(href="#backpackModal")
        img(src='../icons/backpack.png', class='icon_voyage')
    div#backpackModal.modalDialogBackpack
        div
            a(href="#close", title="Close", class="close")
            h2 Contenu de votre sac à dos
            ul
                li Gourde d'eau à moitié pleine
                li Une part de gâteau
                li Une corde
            div#boutonsBackpack
                button.buttonBackpack Utiliser un objet
                button.buttonBackpack Se séparer d'un objet