aside
    a(href="#backpackModal")
        img(src='../../icons/backpack.png', class='icon_voyage')
    div#backpackModal.modalDialogBackpack
        div
            a(href="#close", title="Close", class="close")
            h2 Contenu de votre sac à dos
            ul
                each val in session.joueur.sacàdos
                    li= val
            div#boutonsBackpack
                button.buttonBackpack Utiliser un objet
                button.buttonBackpack Se séparer d'un objet