block head
    link(rel='stylesheet', href='/stylesheets/chooseObjects.css')

aside
    a(href="#ChooseObjectsModal") Choix d'un objet
    div#ChooseObjectsModal.modalDialogChooseObjects
        div
            a(href="#close", title="Close", class="close")
            h2 Veuillez choisir un objet de votre sac à dos
            div#boutonsChooseObjects
                a(href="#close", id="button-confirmation") Défense de mammouth
                a(href="#close", id="button-confirmation") Corne de licorne