block head
    link(rel='stylesheet', href='/stylesheets/backpack.css')

aside
    a(href="#backpackModal") -- Choix d'un objet --
    div#backpackModal.modalDialog
        div
            a(href="#close", title="Close", class="close")
            h2 Veuillez choisir un objet de votre sac à dos
            div#buttonsBackpack
                button.buttonBackpack Défense de mammouth 
                button.buttonBackpack Corne de licorne