block head
    link(rel='stylesheet', href='/stylesheets/chooseObjects.css')

aside
    a(href="#ChooseObjectsModal") Choix d'un objet
    div#ChooseObjectsModal.modalDialogChooseObjects
        div
            a(href="#close", title="Close", class="close")
            h2 Veuillez choisir un objet de votre sac à dos
            div#buttonsChooseObjects
                button.buttonChooseObjects Défense de mammouth 
                button.buttonChooseObjects Corne de licorne