div(class="fight", ng-controller="combatManager")
	h2 {{combat.nom}}
	h3 Habileté : {{combat['habileté']}}
	h3 Endurance : {{combat['endurance']}}
	h3 {{points}}
	div(ng-if="fin == false")
		input(type='submit', value='Combattre !', ng-click="roundCombat(false)", class='button')
		input(type='submit', value='Fuir !', ng-click="fuirCombat()", class='button')
		div(ng-if="pp == true")
			input(type='submit', value='Attaquer avec la Puissance Psychique !', ng-click="roundCombat(true)", class='button')
	div(class="messagesCombat")
		ul
			li Un duel avec {{combat.nom}} va commencer !
			li(ng-repeat="line in combatLog track by $index", ng-bind-html="line")