extends layout

block head
    link(rel='stylesheet', href='/stylesheets/createPlayer.css')
    link(rel='stylesheet', href='/stylesheets/waitingjs/create.css')

block content

        div#block-central
              h1= title
              p Vous êtes à deux doigts de commencer votre aventure.
              p Mais avant, veuillez remplir le formulaire suivant :


              form(method='post', action='./commencer')
                  p#erreur= wrong
                  fieldset    
                      legend Disciplines Kaï
                      p Choisir 5 disciplines

                      div#formleft
                          label
                            input(type="checkbox", name='disciplines', value='CAMOUFLAGE', class='checkbox')
                            | Le Camouflage
                          label
                            input(type='checkbox', name='disciplines', value='CHASSE', class='checkbox')
                            | La Chasse
                          label
                            input(type='checkbox', name='disciplines', value='SIXIEME_SENS', class='checkbox')
                            | Sixième Sens
                          label
                            input(type='checkbox', name='disciplines', value='ORIENTATION', class='checkbox')
                            | L'Orientation
                          label
                            input(type='checkbox', name='disciplines', value='GUERISON', class='checkbox')
                            | La Guérison
                      div#formright
                          label
                            input(type='checkbox', name='disciplines', value='MAITRISE_DES_ARMES', class='checkbox')
                            | La Maîtrise des Armes
                          label
                            input(type='checkbox', name='disciplines', value='BOUCLIER_PSYCHIQUE', class='checkbox')
                            | Bouclier Psychique
                          label
                            input(type='checkbox', name='disciplines', value='PUISSANCE_PSYCHIQUE', class='checkbox')
                            | Puissance Psychique
                          label
                            input(type='checkbox', name='disciplines', value='COMMUNICATION_ANIMALE', class='checkbox')
                            | Communication Animale
                          label
                            input(type='checkbox', name='disciplines', value='MAITRISE_PSYCHIQUE_DE_LA_MATIERE', class='checkbox')
                            |Maîtrise Psychique de la Matière

                  fieldset
                      legend Equipements
                      p Choisir 2 équipements
                      div#formleft
                          label
                            input(type='checkbox', name='équipements', value='EPEE', class='checkbox')
                            img(src='../icons/epee.png')
                            | Epée
                          label
                            input(type='checkbox', name='équipements', value='SABRE', class='checkbox')
                            img(src='../icons/sabre.png')
                            | Sabre
                          label
                            input(type='checkbox', name='équipements', value='LANCE', class='checkbox')
                            img(src='../icons/lance.png')
                            | Lance
                          label
                            input(type='checkbox', class='checkbox',name='équipements', value='MASSE_D_ARMES')
                            img(src='../icons/masse.png')
                            | Masse d'Armes
                          label
                            input(type='checkbox', name='équipements', value='MARTEAU_DE_GUERRE', class='checkbox')
                            img(src='../icons/marteau.png')
                            | Marteau de guerre
                          label
                            input(type='checkbox', name='équipements', value='HACHE', class='checkbox')
                            img(src='../icons/axe.png')
                            | Hâche
                      div#formright
                          label
                            input(type='checkbox', name='équipements', value='BATON', class='checkbox')
                            img(src='../icons/bâton.png')
                            | Bâton
                          label
                            input(type='checkbox', name='équipements', value='GLAIVE', class='checkbox')
                            img(src='../icons/glaive.png')
                            | Glaive
                          label
                            input(type='checkbox', name='équipements', value='GILET_DE_CUIR_MATELASSE', class='checkbox')
                            img(src='../icons/gilet.png')
                            | Gilet de cuir matelassé
                          label
                            input(type='checkbox', name='équipements', value='POTION_DE_LAMPSUR', class='checkbox')
                            img(src='../icons/potion.png')
                            | Potion de Lampsur
                          label
                            input(type='checkbox', name='équipements', value='RATIONS_SPECIALES', class='checkbox')
                            img(src='../icons/rations.png')
                            | Rations spéciales
                  input(type='submit', value='Commencer votre aventure !', id='validation', class='button')