extends layout

block content
  h1= title
  p Vous êtes à deux doigts de commencer votre aventure.
  p Mais avant, veuillez remplir le formulaire suivant :


  form(method='post', action='/begin')
      h2 Disciplines Kaï
      fieldset
          p Choisir 5 disciplines
          input(type='checkbox', name='disciplines', value='Camouflage')
          label Le Camouflage
          input(type='checkbox', name='disciplines', value='Chasse')
          label La Chasse
          input(type='checkbox', name='disciplines', value='Sixième Sens')
          label Sixième Sens
          input(type='checkbox', name='disciplines', value='Orientation')
          label L'Orientation
          input(type='checkbox', name='disciplines', value='Guérison')
          label La Guérison
          input(type='checkbox', name='disciplines', value='Maîtrise des Armes')
          label La Maîtrise des Armes
          input(type='checkbox', name='disciplines', value='Bouclier Psychique')
          label Bouclier Psychique
          input(type='checkbox', name='disciplines', value='Puissance Psychique')
          label Puissance Psychique
          input(type='checkbox', name='disciplines', value='Communication Animale')
          label Communication Animale
          input(type='checkbox', name='disciplines', value='Maîtrise Psychique de la Matière')
          label Maîtrise Psychique de la Matière

      h2 Equipements
      fieldset
        p Choisir 2 équipements
        input(type='checkbox', name='equipements', value='Epée')
        label Epée
        input(type='checkbox', name='equipements', value='Sabre')
        label Sabre
        input(type='checkbox', name='equipements', value='Lance')
        label Lance
        input(type='checkbox', name='equipements', value='Masse d\'Armes')
        label Masse d'Armes
        input(type='checkbox', name='equipements', value='Marteau de guerre')
        label Marteau de guerre
        input(type='checkbox', name='equipements', value='Hâche')
        label Hâche
        input(type='checkbox', name='equipements', value='Bâton')
        label Bâton
        input(type='checkbox', name='equipements', value='Glaive')
        label Glaive
        input(type='checkbox', name='equipements', value='Gilet de cuir matelassé')
        label Gilet de cuir matelassé
        input(type='checkbox', name='equipements', value='Potion de Lampsur')
        label Potion de Lampsur
        input(type='checkbox', name='equipements', value='Rations spéciales')
        label Rations spéciales

      input(type="submit", value="Commencer votre aventure !")
