extends layout

block content
  h1= title
  p Vous êtes à deux doigts de commencer votre aventure.
  p Mais avant, veuillez remplir le formulaire suivant :


  form(name='new-player', method='post', action='/createPlayer')
      h2 Disciplines Kaï
      fieldset

          input(type='checkbox', name='', value='Camouflage')
          label Le Camouflage
          input(type='checkbox', name='', value='Chasse')
          label La Chasse
          input(type='checkbox', name='', value='SixièmeSens')
          label Sixième Sens
          input(type='checkbox', name='', value='Orientation')
          label L'Orientation
          input(type='checkbox', name='', value='Chasse')
          label La Guérison
          input(type='checkbox', name='', value='Chasse')
          label La Maîtrise des Armes
          input(type='checkbox', name='', value='Chasse')
          label Bouclier Psychique
          input(type='checkbox', name='', value='Chasse')
          label Puissance Psychique
          input(type='checkbox', name='', value='Chasse')
          label Communication Animale
          input(type='checkbox', name='', value='Chasse')
          label Maîtrise Psychique de la Matière



      h2 Equipements
      fieldset

        input(type='checkbox', name='', value='Camouflage')
        label Epée
        input(type='checkbox', name='', value='Chasse')
        label Sabre
        input(type='checkbox', name='', value='SixièmeSens')
        label Lance
        input(type='checkbox', name='', value='Orientation')
        label Masse d'Armes
        input(type='checkbox', name='', value='Chasse')
        label Marteau de guerre
        input(type='checkbox', name='', value='Chasse')
        label Hâche
        input(type='checkbox', name='', value='Chasse')
        label Bâton
        input(type='checkbox', name='', value='Chasse')
        label Glaive
        input(type='checkbox', name='', value='Chasse')
        label Gilet de cuir matelassé
        input(type='checkbox', name='', value='Chasse')
        label Potion de Lampsur
        input(type='checkbox', name='', value='Chasse')
        label Rations spéciales

      input(type="submit", value="Commencer votre aventure !")
