extends layout

block head
    link(rel='stylesheet', href='/stylesheets/createPlayer.css')

block content
    div#block-central
        div#text-block-central
              h1= title
              p Vous êtes à deux doigts de commencer votre aventure.
              p Mais avant, veuillez remplir le formulaire suivant :


              form(method='post', action='/begin')
                  fieldset
                      legend Disciplines Kaï
                      p Choisir 5 disciplines
                      div#formleft
                          label
                            input(type='checkbox', name='disciplines', value='Camouflage')
                            | Le Camouflage
                          label
                            input(type='checkbox', name='disciplines', value='Chasse')
                            | La Chasse
                          label
                            input(type='checkbox', name='disciplines', value='Sixième Sens')
                            | Sixième Sens
                          label
                            input(type='checkbox', name='disciplines', value='Orientation')
                            | L'Orientation
                          label
                            input(type='checkbox', name='disciplines', value='Guérison')
                            | La Guérison
                      div#formright
                          label
                            input(type='checkbox', name='disciplines', value='Maîtrise des Armes')
                            | La Maîtrise des Armes
                          label
                            input(type='checkbox', name='disciplines', value='Bouclier Psychique')
                            | Bouclier Psychique
                          label
                            input(type='checkbox', name='disciplines', value='Puissance Psychique')
                            | Puissance Psychique
                          label
                            input(type='checkbox', name='disciplines', value='Communication Animale')
                            | Communication Animale
                          label
                            input(type='checkbox', name='disciplines', value='Maîtrise Psychique de la Matière')
                            |Maîtrise Psychique de la Matière

                  fieldset
                      legend Equipements
                      p Choisir 2 équipements
                      div#formleft
                          label
                            input(type='checkbox', name='equipements', value='Epée')
                            | Epée
                          label
                            input(type='checkbox', name='equipements', value='Sabre')
                            | Sabre
                          label
                            input(type='checkbox', name='equipements', value='Lance')
                            | Lance
                          label
                            input(type='checkbox', name='equipements', value='Masse d\'Armes')
                            | Masse d'Armes
                          label
                            input(type='checkbox', name='equipements', value='Marteau de guerre')
                            | Marteau de guerre
                          label
                            input(type='checkbox', name='equipements', value='Hâche')
                            | Hâche
                      div#formright
                          label
                            input(type='checkbox', name='equipements', value='Bâton')
                            | Bâton
                          label
                            input(type='checkbox', name='equipements', value='Glaive')
                            | Glaive
                          label
                            input(type='checkbox', name='equipements', value='Gilet de cuir matelassé')
                            | Gilet de cuir matelassé
                          label
                            input(type='checkbox', name='equipements', value='Potion de Lampsur')
                            | Potion de Lampsur
                          label
                            input(type='checkbox', name='equipements', value='Rations spéciales')
                            | Rations spéciales
                  input(type='submit', value='Commencer votre aventure !', id='validation')