block head
    link(rel='stylesheet', href='/stylesheets/fightModal.css')

aside(class="fight", ng-controller="combatManager")
    a(href="", ng-click="commencerCombat(true)")
        img(src='/icons/combat1.png')
    div(id='fightModal', class="modalDialogFight", ng-if="comCombat == true")
        div
            a(href="", title="Close", class="close", ng-click="commencerCombat(false)")
            h2 {{combat.nom}}
            h3 Habileté : {{combat['habileté']}}
            h3 Endurance : {{combat['endurance']}}
            h3 {{points}}
            div(ng-if="fin == false")
                input(type='submit', value='Combattre !', ng-click="roundCombat(false)", class='button')
                input(type='submit', value='Fuir !', ng-click="fuirCombat()", class='button')
                div(ng-if="checkDiscipline('Puissance psychique') == true")
                    input(type='submit', value='Attaquer avec la Puissance Psychique !', ng-click="roundCombat(true)", class='button')
            div(id="textcombat", class="messagesCombat")
                ul
                    li Un duel avec {{combat.nom}} va commencer !
                    li(ng-repeat="line in combatLog track by $index", ng-bind-html="line")
            di(id='boutonscombat')
                button.buttoncombat.button Attaquer
                button.buttoncombat.button Fuir
                button.buttoncombat.button Utiliser un objet