p -- DEBUT DU COMBAT --
p Truc (30PV) attaque Machin avec Bidule(30PV) : -20PV
p Machin contre-attaque. Truc perd 19PV.
p Truc veut continuer à se battre.
p Truc (11PV) attaque Machin (10PV) avec Bidule : -20PV
p Machin est mort.
p -- FIN DU COMBAT --