p #[strong -- Combat --]
p Vous(ENDURANCE : 15) attaquez BAKANAL(ENDURANCE : 15) avec Epée : -5PV
p BAKANAL contre-attaque. Vous perdez 3 points d'ENDURANCE.
p Vous continuez à vous battre.
p Vous(ENDURANCE : 12) attaque BAKANAL(ENDURANCE : 10) avec Epée : -5V
p Vous continuez à vous battre.
p Vous(ENDURANCE : 15) attaque BAKANAL(ENDURANCE : 5) avec Epée : -5V
p BAKANAL est mort.