aside
    p #[strong -- DEBUT DU COMBAT --]
    // explication du combat

    div
        p #[strong -- HISTOIRE --]
        p #[strong Round 1]
        p Vous affrontez un Bakanal: 30 Endurance, 19 Habileté
        p.
            Son premier assault, que vous n'avez pu éviter vous inflige 7 points de dégats.
            Il va falloir penser à se bouger les fesses, vous n'allez jamais arrivé au bout sinon.
        p Votre endurance se réduit à 22.
        p #[strong Round 2]
        p Que voulez-vous faire ?
        p Vous attaquez avec [arme] et infligez 8 points de dégats.
        p ETC


    div
        p #[strong -- ACTION --]
        button Attaquer
        button Fuir
        button Utliser un objet
    // fin
    p #[strong -- FIN DU COMBAT --]