//- includes/header.jade
header
    nav
      ul
        li 
          a(class="visited", href="/") Accueil
        li
          a(href='/createPlayer') Créer un joueur
        li
          a(href='/help') Aide