//- includes/header.jade
header
    nav
      ul#navul
        li.navli
          a(id="v1", href="/") Accueil
        li.navli
          a(id="v2", href='/creationJoueur') Jouer
        li.navli
          a(id="v3", href='/aide') Règles