extends layout

block content
  h1= title
  p.
    Nous présentons dans cette section les principes de fonctionnement du jeu, an de vous fournir une vision globale de ce que vous devrez implémenter tout au long du trimestre.
    Mais toute la logique et les calculs derrière ces principes ne seront pas implémentés avant le TP3.
    Lorsqu'on débute le jeu, trois valeurs sont générées aléatoirement. La première, que nous appellerons points d'HABILETÉ, comprise entre 10 et 19, détermine l'HABILETÉ au combat. La deuxième représente les p oints d'ENDURANCE et est comprise entre 20 et 29. Lorsqu'un joueur est blessé dans un combat, il perd des points d'ENDURANCE.