extends layout

block content
  h1= title
  p Bonjour ! Bienvenue aux Grottes de Kalte !
  P ICI QUELQUES DETAILS SUR LE JEU
  p Veuillez suivre ce lien pour commencer votre aventure :
  a(href="/begin") Créer votre personnage  

