doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    block head
  body
    include ./header.jade
    block content
    include ./footer.jade
