doctype html
html(ng-app='LoneWolf')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    //- script(src='/scripts/jquery-2.1.4.min.js')
    script(src="/scripts/angular/angular.min.js")
    script(src="/scripts/angular/angular-route.js")
    script(src="/scripts/angular/angular-cookies.js")
    script(src="/scripts/angular/angular-sanitize.js")
    script(src="/scripts/jeuControllers.js")
    script(src="/scripts/combatController.js")
    block head
  body
    include ./header.jade
    block content
    include ./footer.jade
