block head
    link(rel='stylesheet', href='/stylesheets/losePoints.css')

aside
    a(href="#LosePointsModal") Vous avez perdu des points
    div#LosePointsModal.modalDialogLosePoints
        div
            a(href="#close", title="Close", class="close")
            h2 Perte de points
            h1 Vous avez perdu 3 points d'endurance
            div#boutonsLosePoints
                a(href="#close", id="button-confirmation") Ok