extends layout

block head
    link(rel='stylesheet', href='/stylesheets/waitingjs/other.css')

block content
    div#block-central
        h1 Page #{title}
        section !{htmlPage}
    div#block-lateral-rightstat
        include ./playerStats.jade
        include  ./bourse.jade
    div#block-lateral-rightbackpack
        include ./backpack.jade
    div#block-lateral-gauche
        include ./previousFights.jade