extends layout

block head
    link(rel='stylesheet', href='/stylesheets/waitingjs/other.css')
    link(rel='stylesheet', href='/stylesheets/specialObjects.css')
    link(rel='stylesheet', href='/stylesheets/backpack.css')

block content
    div(ng-controller="jeuManager")
        div(id="block-central")
            h3 Aventure de {{joueur['nom']}}
            h1 Page {{page.numero}}
            section(dynamic="page.html")
            section(ng-repeat="item in sectionsSuivantes", dynamic="item")
        div#block-lateral-rightstat
            include ./playerStats.jade
            include ./bourse.jade
            include ./backpack.jade
        div#block-lateral-gauche
            include ./history.jade