aside
    p #[strong -- Statistiques --]
    p HABILETE : #{session.joueur.habileté}
    p ENDURANCE : #{session.joueur.endurance}
    p Disciplines Kai Maïtrisées:
        ul
            each val in session.joueur.disciplines
                li= val
    p Vos armes équipées
        ul
            each val in session.joueur.armes
                li= val