p #[strong -- Historique des combats --]
table
    tr
        td #[strong Heure]
        td #[strong Evènement]
    tr
        td 19h48
        td Combat contre BAKANAL
    tr
        td 19h52
        td Combat contre AUTRECHOSE