//block head
link(rel='stylesheet', href='/stylesheets/specialObjects.css')

aside
    a(href="#specialObjectsModal") -- Objets spéciaux --
    div#specialObjectsModal.modalDialogSpecialObjects
        div
            a(href="#close", title="Close", class="close")
            h2 Objets spéciaux
            ul
                li Gourde d'eau à moitié pleine
                li Gourde d'eau à moitié pleine
                li Gourde d'eau à moitié pleine
                li Gourde d'eau à moitié pleine
                li Gourde d'eau à moitié pleine
            div#boutonsSpecialObjects
                button.buttonSpecialObjects Utiliser un objet
                button.buttonSpecialObjects Se séparer d'un objet