block head
    link(rel='stylesheet', href='/stylesheets/backpack.css')

aside
    a(href="#backpackModal") -- Objets spéciaux --
    div#backpackModal.modalDialog
        div
            a(href="#close", title="Close", class="close")
            h2 Objets spéciaux
            ul
                li Gourde d'eau à moitié pleine
            div#buttonsBackpack
                button.buttonBackpack Utiliser un objet
                button.buttonBackpack Se séparer d'un objet