aside
    a(href="#specialObjectsModal")
        img(src='/icons/objspe.png', class='icon_voyage')
    div#specialObjectsModal.modalDialogSpecialObjects
        div
            a(href="#close", title="Close", class="close")
            h2 Objets spéciaux
            ul
                each val in session.joueur.objets_spéciaux
                    li= val
            div#boutonsSpecialObjects
                button.buttonSpecialObjects Utiliser un objet
                button.buttonSpecialObjects Se séparer d'un objet