aside
    a(href="#specialObjectsModal")
        img(src='/icons/objspe.png', class='icon_voyage')
    div(id='specialObjectsModal', class="modalDialogSpecialObjects")
        div
            a(href="#close", title="Close", class="close")
            h2 Objets spéciaux
            ul
                li(ng-repeat="item in joueur['objets_spéciaux']") {{item}}
            div#boutonsSpecialObjects
                button.buttonSpecialObjects Utiliser un objet
                button.buttonSpecialObjects Se séparer d'un objet