link(rel='stylesheet', href='/stylesheets/test.css')
    
a(href="#openModal") Open Modal

a(href="#close")
    div#openModal.modalDialog
        div#secondDiv 
            a(href="#close", title="Close", class="close") X
            h2 Modal Box
            p This is a sample modal box that can be created using the powers of CSS3.
            p You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.
            