p Vous cachez le cadavre sous l'escalier et vous vous hâtez de le fouiller. Vous y découvrez une Épée d'Os et un Disque de Pierre Bleue.
p Si vous souhaitez conserver l'un ou l'autre de ces objets (ou les deux) :