p.
    Tandis que la lumière du jour décline peu à peu, le blizzard semet à souffler sur la banquise en faisant claquer sans relâche la toile de votre tente. Ce bruit lancinant s'ajoutant à la douleur de
    vos doigts et de vos orteils vous met les nerfs à vif et vous commencez à souhaiter n'avoir jamais mis les pieds dans cet enfer glacé. Puis, au beau milieu de la nuit, le vent déchire le bord de la toile et la force de la rafale disperse vos vivres et votre
    équipement. Vous êtes contraint de passer le reste de la nuit à plat ventre, appuyé sur les coudes, vos doigts gelés crispés sur la toile pour l'empêcher de s'envoler. Une gadoue à moitié gelée se glisse sous vos Couvertures de Fourrure et lorsque l'aube se lève,
    vos vêtements, gelés à leur tour, sont devenus tout raides.