p Utilisez la Table de Hasard pour obtenir un chiffre.
div#decision
    p Si vous tirez un chiffre entre 0 et 4, rendez-vous à #[a(href="/page/62") la page 62].
    p Entre 5 et 9, rendez-vous à #[a(href="/page/288") la page 288].