
.icon_check{
    width : 30px;
}

th, td {
    padding: 5px;
    text-align: center;
}

th .nom_sac{
    width : 70%;
    font-weight: bold; 
}

.nom_sac{
    width : 70%; 
}

/*.icon_sac{
    width : 10%;
}*/


.icon_voyage{
    /*position: fixed;
    bottom: 10px;
    left:;*/
    float: right;
}



.modalDialogBackpack {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:1;
    pointer-events: auto;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}


.modalDialogBackpack > div {
    background: #c0c0c0 url("../images/fightbackground.jpg") repeat;
    width: 500px;
    height: auto;
    max-height: 80%;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    overflow-y: auto;
}

.close {
    content: "";
    top: 0;
    left: 0;
    /*background: #c0c0c0 ;*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
}

#boutonsBackpack{
    margin-top: 10px;
    text-align: center;
}

.buttonBackpack{
    margin: 5px;
}