@font-face {
    font-family: "NotreFont";
    src: url('../font/eagle_lake/EagleLake-Regular.ttf');
}

body{
    background: #c0c0c0 url("../images/background-parchemin.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: "NotreFont", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

ul{
    list-style: none;
}

#block-central{
    position: absolute;
    width: 50%;
    height: auto;
    margin-left: 25%;
    padding-bottom: 5%;
    /*border: solid red 1px;*/
    background-size: cover;
}

#block-lateral-gauche{
    position: fixed;
    top: 100px;
    width: 20%;
    margin-left: 2.5%;
    /*border: solid red 1px;*/
    background-size: cover;
}

#block-lateral-rightstat{
    position: fixed;
    width: 20%;
    margin-left: 77.5%;
    /*border: solid red 1px;*/
    background-size: cover;
}

#block-lateral-rightbackpack{
    position: fixed;
    width: 20%;
    margin-top: 20%;
    margin-left: 77.5%;
    /*border: solid red 1px;*/
    background-size: cover;
}

footer{
    position: fixed;
    width: 20%;
    bottom: 0;
    margin-left: 77.5%;
    /*border: solid red 1px;*/
    background-size: cover;
}

img{
    float: left;
    padding-right: 20px;
}