div#decision
   p Si vous tirez un chiffre de 0 à 6, rendez-vous à #[a(href='', ng-click='changerPage("85", "1")') la page 85].
   p De 7 à 9, rendez-vous à #[a(href='', ng-click='changerPage("300", "1")') la page 300].