div#decision
   h3 Le chiffre est {{avancement.tableDeHasard.chiffreAleatoire}}
   p Si vous avez tiré un chiffre de 0 à 6, rendez-vous à #[a(href='',  a-disabled="avancement.tableDeHasard.pagePossible != 85", ng-click='changerPage("85")') la page 85].
   p De 7 à 9, rendez-vous à #[a(href='',  a-disabled="avancement.tableDeHasard.pagePossible != 300", ng-click='changerPage("300")') la page 300].