div#decision
   p.
      Si vous souhaitez décharger les traîneaux et les utiliser comme passerelles, rendez-vous à #[a(href='', ng-click='changerPage("232", "1")') la page 232]. Si vous préférez sauter par-dessus la crevasse avec les chiens Kanuet, ensuite, tirer les
      traîneaux pour les amener à leur tour de l'autre côté, rendez-vous à #[a(href='', ng-click='changerPage("346", "1")') la page 346].