div#decision
   p Si vous maîtrisez la Discipline Kaï de la Guérison, rendez-vous à #[a(href="/jeu/page/17") la page 17].
   p Sinon, rendez-vous à #[a(href='', ng-click='changerPage("251", "1")') la page 251].