div#decision
   p Si vous tirez un chiffre entre 0 et 3, #[a(href="/page/4") rendez-vous au 4].
   p Entre 4 et 6, rendez-vous à #[a(href="/page/188") la page 188].
   p Entre 7 et 9, rendez-vous à #[a(href="/page/331") la page 331].