div#decision
   h3 Le chiffre est {{avancement.tableDeHasard.chiffreAleatoire}}
   p Si vous avez tiré un chiffre entre 0 et 3, #[a(href='', a-disabled="avancement.tableDeHasard.pagePossible != 57", ng-click='changerPage("57")') rendez-vous au 57].
   p Entre 4 et 6, rendez-vous à #[a(href='', a-disabled="avancement.tableDeHasard.pagePossible != 188", ng-click='changerPage("188")') la page 188].
   p Entre 7 et 9, rendez-vous à #[a(href='', a-disabled="avancement.tableDeHasard.pagePossible != 331", ng-click='changerPage("331")') la page 331].