div#decision
   p Si vous tirez un chiffre entre 0 et 3, #[a(href='', ng-click='changerPage("4", "1")') rendez-vous au 4].
   p Entre 4 et 6, rendez-vous à #[a(href='', ng-click='changerPage("188", "1")') la page 188].
   p Entre 7 et 9, rendez-vous à #[a(href='', ng-click='changerPage("331", "1")') la page 331].