div#decision
   p Si vous vous êtes enduit le corps d'huile de Bakanal, rendez-vous à #[a(href='', ng-click='changerPage("209", "1")') la page 209].
   p Dans le cas contraire, rendez-vous à #[a(href='', ng-click='changerPage("339", "1")') la page 339].