p Vous cachez le cadavre sous l'escalier et vous vous hâtez de le fouiller. Vous y découvrez une Épée d'Os et un Disque de Pierre Bleue.

div#decision
	p Si vous souhaitez conserver l'un ou l'autre de ces objets (ou les deux) : 
	include ../chooseObjects.jade
	p Vous abandonnez ensuite le cadavre et vous montez l'escalier quatre à quatre.
	p Rendez-vous à #[a(href="/page/332") la page 332].
