p Le lendemain, un froid vif règne alentour et un vent violent venant du nord souffle sans relâche. Le visage fouetté par les rafales, vos lèvres bientôt se dessèchent, gercent et saignent.
p Votre nez commence à couler mais le mucus gèle instantanément. Le soleil est caché par une neige épaisse qui tombe en flocons serrés et obscurcit la lumière du jour. Les tas de neige compacte et les trous dans la glace disparaissent sous la poudreuse et souvent un traîneau verse ou s'enlise, obligeant l'expédition à interrompre son avance. 
p Il vous faut sans cesse scruter le sol pour essayer d'apercevoir les obstacles de glace qui peuvent se dresser sur votre chemin, et le scintillement de la neige met vos yeux à rude épreuve ; vers midi, votre vision devient floue.
div#decision
	p Si vous maîtrisez la Discipline Kaï de la Guérison, rendez-vous à #[a(href="/page/17") la page 17].
	p Sinon, rendez-vous à #[a(href="/page/251") la page 251].