div#decision
   p Si vous souhaitez sortir de la tente pour vous lancer à l'attaque du Bakanal, rendez-vous à #[a(href="/jeu/page/78") la page 78].
   p Si vous maîtrisez la Discipline Kaï de la Chasse, rendez-vous à #[a(href="/jeu/page/204") la page 204].
   p Si vous maîtrisez la Discipline Kaï de la Communication Animale, rendez-vous à  #[a(href="/jeu/page/318") la page 318].